<%- include('../adminLayout/a_header.ejs') %>




    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index.html">
                <h1 class="tm-site-title mb-0">Product Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/home">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/userlist">
                          <i class="far fa-file-alt"></i> userlist
                        </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addproducts">
                            <i class="fas fa-shopping-cart"></i> Products
                        </a>
                    </li>

                    
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/addcategory">
                            </i> category
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/banner">
                          Banner
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin/coupon">
                          Coupon
                        </a>
                      </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="/admin/logout">
                            Admin, <b>Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">

                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>

                                    <th scope="col">PRODUCT NAME</th>
                                    <th scope="col">EDIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i<c_details.length;i++){ %>


                                    <tr>

                                        <td class="tm-product-name">
                                            <%= c_details[i].category %>
                                        </td>

                                        <td>
                                            <a href="/admin/editcategory?id=<%= c_details[i]._id%>"
                                                class="tm-product-delete-link">
                                                <i
                                                    class="fa-sharp fa-solid fa-pen-to-square tm-product-delete-icon"></i>
                                            </a>
                                            <a href="/admin/delete/coupon?id=<%= c_details[i]._id%>" id="del"
                                                class="tm-product-delete-link">
                                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-12"><br><br>
                        <a href="/admin/addcategory"><button class="btn btn-primary btn-block text-uppercase">Add new
                                product
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <% if( alert != null){ %>
        <script>
            swal({
                   title: "",
                    text: "<%= alert%>",
                     imageUrl: 'thumbs-up.jpg'
                 });
            
        </script>
        <% }%>



    <%- include('../adminLayout/a_footer.ejs') %>