<%- include('../adminLayout/a_header.ejs') %>




<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">Product Admin</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link " href="/admin/home">
              <i class="fas fa-tachometer-alt"></i> Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/userlist">
              <i class="far fa-file-alt"></i> userlist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/addproducts">
              <i class="fas fa-shopping-cart"></i> Products
            </a>
          </li>

          
          
          <li class="nav-item">
            <a class="nav-link" href="/admin/addcategory">
              category
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="/admin/orderlist">
              <i class="fas fa-truck-fast"></i> orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/banner">
             
              Banner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon">
              Coupon
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="/admin/logout">
              Admin, <b>Logout</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">image</th>
                                    <th scope="col">PRODUCT NAME</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">IN STOCK</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i<p_details.length;i++){ %>


                                    <tr>
                                        <td><img src="/product-images/<%= p_details[i].images[0] %>" alt="" width="90px"
                                                height="70px"></td>
                                        <td class="tm-product-name">
                                            <%= p_details[i].p_name %>
                                        </td>
                                        <td>
                                            <%= p_details[i].p_price %>
                                        </td>
                                        <td>
                                            <%= p_details[i].p_stock %>
                                        </td>
                                        <td>
                                            <%= p_details[i].p_brand %>
                                        </td>
                                        <td>



                                            <%if(p_details[i].p_is_flaged===0){ %>

                                                <a href="/admin/editproduct?id=<%= p_details[i]._id%>"
                                                    class="tm-product-delete-link">
                                                    <i
                                                        class="fa-sharp fa-solid fa-pen-to-square tm-product-delete-icon"></i>
                                                </a>
                                                <a href="/admin/delete_product?id=<%= p_details[i]._id%>"
                                                    class="tm-product-delete-link"
                                                    data-toggle="modal"
                                                    data-target="#editConfirmationModal">
                                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                                </a>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="editConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="editConfirmationModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editConfirmationModalLabel">Confirm Edit</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to edit this product?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <a href="/admin/delete_product?id=<%= p_details[i]._id%>" class="btn btn-primary">Edit</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}else{%>
                                                    <i class="fa-regular fa-flag"></i>

                                                    <%}%>






                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <% for(i=1;i<=totalPage;i++){ %>
                            <% if(currentPage==i){ %>
                          <li class="page-item active"><a class="page-link" href="/admin/productlist?currentpage=<%= i %>"><%= i %></a></li>
                            <%}else{ %>
                          <li class="page-item"><a class="page-link" href="/admin//productlist?currentpage=<%= i %>"><%= i %></a></li>
                          <%}%>
                          <% }%>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>

    <% if( alert != null){ %>
        <script>
            swal({
                   title: "",
                    text: "<%= alert%>",
                     imageUrl: 'thumbs-up.jpg'
                 });
            
        </script>
        <% }%>





    <%- include('../adminLayout/a_footer.ejs') %>