<%- include ('../userhomeLayout/header.ejs') %>

<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">My account</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-3">
            <!--
            *** CUSTOMER MENU ***
            _________________________________________________________
            -->
            <div class="card sidebar-menu">
              <div class="card-header">
                <h3 class="h4 card-title">Customer section</h3>
              </div>
              <div class="card-body">
                <ul class="nav nav-pills flex-column"><a href="/user/account" class="nav-link active"><i
                    class="fa fa-user"></i> My account</a><a href="/product/wishlist" class="nav-link"><i
                    class="fa fa-heart"></i> My wishlist</a><a href="/order/review" class="nav-link"><i
                    class="fa fa-list"></i> My orders</a><a href="/logout" class="nav-link"><i
                    class="fa fa-sign-out"></i> Logout</a></ul>
            </div>
            </div>
            <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title"><i class="fa-solid fa-wallet"></i>wallet </h3>
                <h5>₹<%= user.wallet%></h5>
              </div>
              </div>
            <!-- /.col-lg-3-->
            <!-- *** CUSTOMER MENU END ***-->
          </div>
          <div class="col-lg-9">
            <div class="box">
              <h1>My account</h1>
              <p class="lead">Change your personal details or your password here.</p>
              <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              
              
              <h3 class="mt-5">Personal details</h3>


              <section style="background-color: #eee;">
                <div class="container py-5">
                  
              
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card mb-4">
                        <div class="card-body text-center">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                          <h5 class="my-3"><%= user.name %></h5>
                          <p class="text-muted mb-1">Full Stack Developer</p>
                          <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                          <div class="d-flex justify-content-center mb-2">
                            <a href="/user/editprofile"><button type="button" class="btn btn-primary">EDIT</button></a>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-lg-8">
                      <div class="card mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%= user.name%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%= user.email%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0"><%= user.mobile%></p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Address</p>
                            </div>
                            
                            <div class="col-sm-9">
                                <% if(user.address.length>0) {%>
                              <p class="text-muted mb-0"><%= user.address[0].home %>, <%= user.address[0].street %>, 
                                <%= user.address[0].district %>, <%= user.address[0].zip %></p>
                                <% } else{ %>
                                    <p class="text-muted mb-0">null</p>
                                    <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <% if(user.address.length>0) {%>
                                <div class="left"><a href="#" class="btn btn-outline-secondary"> EDIT ADDRESS</a></div>
                                <% } else{ %>  
                                    <div class="left"><a href="/user/addDefaultAddress" class="btn btn-outline-secondary"> ADD ADDRESS</a></div>   
                                    <% } %>                 
                           </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                              
                              <% if(user.address.length>0) {%>
                                <div class="left"><a href="/user/addresslist" class="btn btn-outline-secondary"> SHOW ALL ADDRESS</a></div>
                                <% } %>
                              
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>  
                  
              <% if( alert != null){ %>
                <script>
                  swal.fire({
                         title: "",
                          text: "<%= alert%>",
                           imageUrl: 'thumbs-up.jpg'
                       });
                  
              </script>
                

                <% }%>     
              <!-- <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">Firstname</label>
                      <input id="firstname" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Lastname</label>
                      <input id="lastname" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="company">Company</label>
                      <input id="company" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="street">Street</label>
                      <input id="street" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                

                <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="city">Company</label>
                      <input id="city" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="zip">ZIP</label>
                      <input id="zip" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="state">State</label>
                      <select id="state" class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <select id="country" class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Telephone</label>
                      <input id="phone" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                  </div>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<%- include ('../userhomeLayout/footer.ejs') %>