<%- include ('../userhomeLayout/header.ejs') %>

  <div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                

                <li aria-current="page" class="breadcrumb-item active">details</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-3">
            <!--
            *** MENUS AND FILTERS ***
            _________________________________________________________
            -->
            <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">Categories</h3>
              </div>
              <div class="card-body">
                <ul class="nav nav-pills flex-column category-menu">
                  <li><a href="category.html" class="nav-link">DSLR <span class="badge badge-secondary"></span></a>

                  </li>
                  <li><a href="category.html" class="nav-link">MIRROR LESS <span class="badge badge-light"></span></a>

                  </li>
                  <li><a href="category.html" class="nav-link">PINPOINT <span class="badge badge-secondary"></span></a>

                  </li>
                </ul>
              </div>
            </div>
            <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">Discount <a href="#" class="btn btn-sm btn-danger pull-right"><i
                      class="fa fa-times-circle"></i> Clear</a></h3>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 0-10%
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 10-30%
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 10-50%
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 50 & above
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
              </div>
            </div>
            <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">BRAND <a href="#" class="btn btn-sm btn-danger pull-right"><i
                      class="fa fa-times-circle"></i> Clear</a></h3>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour white"></span> SONY
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour blue"></span> CANON
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour green"></span> NIKON
                      </label>
                    </div>

                  </div>
                  <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
              </div>
            </div>
            <!-- *** MENUS AND FILTERS END ***-->

          </div>
          <div class="col-lg-9 order-1 order-lg-2">
            <div id="productMain" class="row">
              <div class="col-md-6">
                <div data-slider-id="1">
                  <div class="item"> 
                    
                      <a href="/product-images/<%= p_details.images[0] %>" class="MagicZoom"
                        data-options="zoomDistance: 1000"><img
                            src="/product-images/<%= p_details.images[0] %>"></a>
                          </div>
                </div>
                <div class="ribbon sale">
                  <div class="theribbon">SALE</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
                <div class="ribbon new">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>
                <!-- /.ribbon-->
              </div>
              <div class="col-md-6">
                <div class="box">
                  <h1 class="text-center">
                    <%= p_details.p_name %>
                  </h1>
                  <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material
                      &amp; care and sizing</a></p>
                  <p class="price">₹<%= p_details.p_price %>
                  </p>
                  <p class="text-center buttons">
                  <form action="/product/cart?id=<%= p_details._id%>" style="display: contents" method="post">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to
                      cart</button>
                  </form>
                  <a href="/product/addwishlist?id=<%= p_details._id%>" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to wishlist</a>
                  </p>
                </div>
                <div data-slider-id="1" class="owl-thumbs">

                  <button class="owl-thumb-item"><img src="/product-images/<%= p_details.images[0] %>" alt=""
                      class="img-fluid"></button>
                  <button class="owl-thumb-item"><img src="/product-images/<%= p_details.images[0] %>" alt=""
                      class="img-fluid"></button>
                  <button class="owl-thumb-item"><img src="/product-images/<%= p_details.images[0] %>" alt=""
                      class="img-fluid"></button>
                </div>
              </div>
            </div>
            <div id="details" class="box">
              <p></p>
              <h4>BRAND: <b>
                  <%= p_details.p_brand %>
                </b> </h4><br>
              <h4>Type: <b>
                  <%= p_details.p_catogory.category %>
                </b> </h4><br>
              <h4>Product details</h4>
              <p>
                <%= p_details.p_description %>
              </p>
              <h4>Material </h4>
              <ul>
                <li>*******</li>
                <li>*******</li>
              </ul>


              <blockquote>
                <p><em>Photography is a way of feeling, of touching, of loving. What you have caught on film is captured
                    forever...
                    it remembers little things, long after you have forgotten everything.</em></p>
              </blockquote>
              <hr>
              <div class="social">
                <h4>Show it to your friends</h4>
                <p><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#"
                    class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i
                      class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></p>
              </div>
            </div>
           
            
          </div>
          <!-- /.col-md-9-->
        </div>
      </div>
    </div>
  </div>

  <% if( alert != null){ %>
    <script>
        swal.fire({
               title: "",
                text: "<%= alert%>",
                 imageUrl: 'thumbs-up.jpg'
             });
        
    </script>
    <% }%>

  <%- include ('../userhomeLayout/footer.ejs') %>